<div class="container">

  <div class="section">
    <div class="row">
      <div class="col s12 m6">
      <!-- <h5 class="center">Washington Womenade</h5> -->
      <p>Washington Womenade was started by a group of women friends in 2001 to raise money for people who need various kinds of help. Not a penny of the proceeds go to overhead--all goes directly to people who need help. See some examples of what we fund
        below.</p>

      <p>We invite all the women we know to attend, and we ask them to bring a potluck dish, and a check made out to Washington Womenade. With the money we raise, we maintain a fund for needy individuals in D.C.</p>
      <div class="paypal">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input name="cmd" type="hidden" value="_s-xclick">
        <input name="hosted_button_id" type="hidden" value="VMBUVG9G9AJ58">
        <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
        <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
      </form>
    </div>
    </div>
    <div class="col s12 m6">
<img alt="watercolor lemonade stand" src="/images/newwomenade07.jpg">
  </div>
  </div>
  <!-- <div class="row">
    <div class="col s12 m6">
      <h5>
<ul>
  <li>Dentures for homeless individuals who have lost their teeth due to lack of dental care.</li>
</ul>
      </div>
    </div> -->
    <!--   Icon Section   -->
<div class="row center">
  <h5>Washington Womenade has funded</h5>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center light-blue-text">
        <i class="material-icons">flash_on</i>
      </h2>
      <!-- <h5 class="center">Speeds up development</h5> -->
      <p class="light">
        - Dentures for homeless individuals who have lost their teeth due to lack of dental care.</p>
      <p class="light">- Medical supplies for homeless shelters when they run out, and the budget does not cover a resupply for another several days.</p>
      <p class="light">- Utility bills that need to be paid before services can be turned on, or returned.</p>
      <p class="light">
        - Furniture for people who have obtained subsidized housing but cannot afford to furnish their home.</p>
    </div>
  </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">group</i>
          </h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across
            all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>

</div>
